<div *ngIf="profile$ | async; let user">

  <div [ngStyle]="{
    backgroundImage: 'url(' + user.banner.url + ')',
    backgroundPosition: 'center',
    backgroundSize: 'cover',
    width: '100%',
    height: '400px'
   }">
  </div>
  <div class="avatar-position">
    <ngx-avatar class="my-avatar"
                size="200"
                (clickOnAvatar)="openAvatarFull(user)"
                [src]="user.avatar.thumb.url">
    </ngx-avatar>
    <h2>{{user.name}}</h2>
    <span class="muted-text">@{{user.user_name}}</span>

    <nav mat-tab-nav-bar mat-align-tabs="center" >
      <a mat-tab-link routerLink="postagens">Postagens</a>
      <a mat-tab-link routerLink="seguidores">Seguidores</a>
      <a mat-tab-link routerLink="seguindo">Seguindo</a>
    </nav>
    <router-outlet></router-outlet>
  </div>


</div>
