<div [formGroup]="form">
  <div fxFlex fxLayout="column" fxLayoutAlign="center">

    <h1>Agora vamos escolher uma nova senha</h1>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirmar a Senha</mat-label>
      <input type="password" matInput formControlName="confirm_password">
    </mat-form-field>

    <button (click)="onSubmit()" mat-raised-button color="accent" matTooltip="Entrar">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
