<mat-card-header>
  <mat-card-title fxFlex fxLayout="column" fxLayoutAlign="center">
    <h2>Agora vamos escolher uma nova senha</h2>
  </mat-card-title>
</mat-card-header>

<div [formGroup]="form">
  <div fxFlex fxLayout="column" fxLayoutAlign="center">

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirmar a Senha</mat-label>
      <input type="password" matInput formControlName="confirm_password">
    </mat-form-field>

    <button (click)="onSubmit()" mat-raised-button color="accent" matTooltip="Entrar">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
