<mat-card-header>
  <mat-card-title fxFlex fxLayout="column" fxLayoutAlign="center">
    <h2>Informe o email para recuperação</h2>
  </mat-card-title>
</mat-card-header>
<div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailField">
      <mat-error *ngIf="emailNotFound">Email não encontrado</mat-error>
    </mat-form-field>

    <button (click)="onSubmit()" mat-raised-button color="accent" matTooltip="Entrar">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
