<div [formGroup]="form">
  <div fxFlex fxLayout="column" fxLayoutAlign="center">
    <h1>Entrar na plataforma</h1>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>

    <button (click)="onSubmit()" mat-raised-button color="accent" matTooltip="Entrar">
      <mat-icon>login</mat-icon>
    </button>

    <div [ngStyle]="{paddingTop: '2em'}" fxLayoutAlign="center">
      <button routerLink="/auth/recuperar" mat-button>Esqueci minha senha</button>
    </div>
  </div>

</div>
