code-input {
  --item-spacing: 2em;
  --item-border: 2px solid #3f51b5;
  --item-border-bottom: 2px solid #3f51b5;
  --item-border-has-value: 2px solid #ff4081;
  --item-border-bottom-has-value: 2px solid #ff4081;
}

[_nghost-tgh-c183] input[_ngcontent-tgh-c183] {
  width: 50%!important;
}
