/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.muted-text {
  color: #737373;
}

.mat-card {
  border-radius: 30px!important;
}

.font-large {
  font-size: large
}
